---
// import Supabase from "../../icons/Supabase.astro";
// import AstroIcon from "../../icons/AstroIcon.astro";
import Branding from "../../components/CADD/Branding.astro";
// import Button from "../../components/ui/Button.astro"
interface Props {
    title: string;
}
const { title } = Astro.props;
---

<section class="section items-center flex flex-col justify-center text-center  text-secondary dark:text-white h-[100vh]" >
    <h1 class="text-2xl sm:text-4xl font-bold ">{title}</h1>
    <ul class="flex gap-6 items-center font-bold text-2xl mt-6">
        <li
          class="dark:bg-zinc-800 bg-secondary border-t dark:border-zinc-700 h-20 w-20 border-transparent rounded-lg shadow dark:shadow-none flex items-center justify-center"        
        >
          <!-- <AstroIcon /> -->
          <img
          class="w-16"
           src="https://simca.unicauca.edu.co/simca/resources/images/logo.png" alt="">
        </li>
         &plus;
        <li
          class="dark:bg-secondary bg-[white] border-t dark:border-zinc-700 h-20 w-20 border-transparent rounded-lg shadow  flex items-center justify-center"
        >
        <div class="" style="padding: 200px; margin: 20px">          
          <!-- <LogoCAD  theme_text="" font="1px" ></LogoCAD> -->
          <Branding
          brandingColor={"cyan"}
          themeColor="currentColor"
          w="60px"
      />
        </div>
         
        </li>
      </ul>
    <p class="mt-6 ">Descubre como todo puede ser mas facil desde nuestra aplicacion.</p>
      
     <!-- get start button -->
     <!-- <Button></Button> -->
     <div class="flex flex-col gap-2 pt-4">
      <a href="/carnetdigital?previousRoute=/carnetdigital" onclick="handleLinkClick('/carnetdigital')" type="button" class="text-secondary border   border-secondary hover:bg-secondary hover:text-white font-medium rounded-full text-sm p-2.5 pt-1 pb-1 text-center inline-flex items-center dark:border-primary dark:text-primary dark:hover:text-secondary dark:focus:ring-blue-800 dark:hover:bg-white">
        <svg  xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 48 48"><g fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="4"><rect width="32" height="40" x="8" y="4" rx="2"/><path d="M24 19a4 4 0 1 0 0-8a4 4 0 0 0 0 8Z"/><path stroke-linecap="round" d="M30 25a6 6 0 0 0-12 0m0 6h12m-12 6h7"/></g></svg>
        <span class="sr-only">Icon description</span>
        Carnet Digital
    </a>
    
        <a  href="/dashboard" class="text-secondary border   border-secondary hover:bg-secondary hover:text-white font-medium rounded-full text-sm p-2.5 pt-1 pb-1 text-center inline-flex items-center dark:border-primary dark:text-primary dark:hover:text-secondary dark:focus:ring-blue-800 dark:hover:bg-white">
        <svg
        xmlns="http://www.w3.org/2000/svg"
        width="2em"
        height="2em"
        viewBox="0 0 20 20"
        ><path
          fill="currentColor"
          d="M8.7 7A1.7 1.7 0 0 0 7 8.7A1.3 1.3 0 0 0 8.3 10h3.4A1.3 1.3 0 0 0 13 8.7A1.7 1.7 0 0 0 11.3 7zM8 8.7a.7.7 0 0 1 .7-.7h2.6a.7.7 0 0 1 .7.7a.3.3 0 0 1-.3.3H8.3a.3.3 0 0 1-.3-.3M10 2a2.5 2.5 0 0 0-2.5 2.5v.044A6.001 6.001 0 0 0 4 10v5a3 3 0 0 0 3 3h6a3 3 0 0 0 3-3v-5a6.001 6.001 0 0 0-3.5-5.456V4.5A2.5 2.5 0 0 0 10 2m5 10H5v-2a5 5 0 0 1 10 0zm-8 2.5a.5.5 0 0 0 1 0V13h7v2a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-2h2zM10 4a6.05 6.05 0 0 0-1.466.18a1.5 1.5 0 0 1 2.932 0C10.996 4.063 10.506 4 10 4"
        ></path></svg>
        Unikit
        </a>
     </div>
     
  
     
</section>


<script is:inline>
  // Variable global para almacenar la ruta previa
  let previousRoute = "";

  // Función para manejar el clic en los enlaces
  function handleLinkClick(previousRouteValue) {
      previousRoute = previousRouteValue;
      console.log("Previous Route:", previousRoute);
  }
</script>