---
import Base from "../layout/Base.astro";

// import { Reviews, type GuestbookEntry } from "../components/Reviews";

const { email } = Astro.locals;

// const { data } = (await supabase
//   .from("guestbook")
//   .select("name, message")
//   .order("created_at", { ascending: false })) as { data: GuestbookEntry[] };

// carnetdigital

// import { supabase } from "../lib/supabase";
// import Carnet from "../components/resources/Carnet.astro";
import { getUserDataByEmail } from "../config/servicesSupabase/getUserDataByEmail";
import Carnet from "../components/resources/Carnet.astro";
// import Layout from "../layout/layout.astro";

// const { cookies, redirect } = Astro;

// const accessToken = cookies.get("sb-access-token");
// const refreshToken = cookies.get("sb-refresh-token");

// if (!accessToken || !refreshToken) {
//   return redirect("/signin");
// }

// const { data, error } = await supabase.auth.setSession({
//   refresh_token: refreshToken.value,
//   access_token: accessToken.value,
// });

// if (error) {
//   cookies.delete("sb-access-token", {
//     path: "/",
//   });
//   cookies.delete("sb-refresh-token", {
//     path: "/",
//   });

//   return redirect("/carnetdigital");
// }

// const email = data?.user?.email;

const usuarioPromise = getUserDataByEmail(email);
const usuario = await usuarioPromise; // Esperar a que se resuelva la promesa
console.log("DATOS USARIO FROM SUPABASE", usuario);
---

<Base title="Carnet digital">
  <section
    class="section flex flex-col gap-5 justify-between items-center"
    style="padding: 5.6vw"
    transition:name="homologacion"
  >
    <h1 class="text-secondary dark:text-white">Carnet Digital Unicauca</h1>
   

    <Carnet
      foto={usuario.picture}
      nombres={usuario.nombres}
      apellidos={usuario.apellidos}
      identificacion="0123456789"
      tipo_sangre="O+"
      rol="Estudiante"
    />
    <a
      href="/api/auth/signout"
      class="mb-10 bg-zinc-900 dark:bg-zinc-100 text-zinc-100 dark:text-zinc-900 px-3 py-1 rounded-md"
      >Sign out</a
    >
  </section>
</Base>
