---
import Base from "../layout/Base.astro";
import ModalCarnet from "../components/resources/ModalCarnet.astro"



const { email } = Astro.locals;


import { getUserDataByEmail } from "../config/servicesSupabase/getUserDataByEmail";
import Carnet from "../components/resources/Carnet.astro";
import Layout from "../layout/layout.astro";
// import Layout from "../layout/layout.astro";


const usuarioPromise = getUserDataByEmail(email);
const usuario = await usuarioPromise; // Esperar a que se resuelva la promesa
console.log("DATOS USARIO FROM SUPABASE", usuario);
---

<Layout title="Carnet digital">
  <section
    class="section flex flex-col gap-5 justify-between items-center"
    style="padding: 5.6vw"
    transition:name="homologacion"
  >
    <h1 class="text-secondary dark:text-white">Carnet Digital Unicauca</h1>
   
   
<!-- this control de form to get the cedula and the RH, using form after  gonna be send to carnet.ts to mage the register or UP carnet table -->
    <div >
      <ModalCarnet />      
    </div>

    <Carnet
    foto={usuario.picture}
    nombres={usuario.nombres}
    apellidos={usuario.apellidos}
    identificacion="0123456789"
    tipo_sangre="O+"
    rol="Estudiante"
  />
    

  </section>
</Layout>
