---
// import Base from "../layout/Base.astro";

// import Splash from "../components/landing/Splash.astro"
// import ThemeIcon from "../components/ui/ThemeIcon.astro"
// import LayoutGuest from "../layout/layoutGuest.astro";
// import SimcaLayout from "../layout/SimcaLayout.astro";
import LoginSimca from "../components/landing/LoginSimca.astro"

export const prerender = true;

---

<!-- <SimcaLayout title={title}>      -->

  <!-- <Splash title={title}></Splash> -->
  <!-- <div class="fixed bottom-6 right-6">
    <ThemeIcon />
  </div> -->

  <LoginSimca></LoginSimca>
  
<!-- </SimcaLayout> -->
