---
import Footer from "../components/Footer.astro";
import { darkMode } from "../../tailwind.config.cjs";
import "../styles/Layout.css";
import Header from "../components/Header.astro";
import FloatingButtons from "../components/icons/FloatingButtons.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
    title?: string;
    subtitle?: string;
    description?: string;
}
const { title, subtitle, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" transition:animate="none">
    <head>
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Lora:wght@400;700&display=swap"
        />
        <!-- dark mode  from flobite -->
        <script>
            // On page load or when changing themes, best to add inline in `head` to avoid FOUC
            if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
                document.documentElement.classList.add('dark');
            } else {
                document.documentElement.classList.remove('dark')
            }
        </script>

        <!-- flowbite link -->
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css"
            rel="stylesheet"
        />

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name={title} content={description} />
        <meta
            name="google-site-verification"
            content="fGktjHCQjBR4YHgvqwZHd9gLTJY6134Ws_WQqk2XMX4"
        />
        <title>{title} | {subtitle}</title>

        <!-- <ViewTransitions /> -->
    </head>
    <body >
        <Header />
        <main class="mx-auto p-0">
            <div transition:animate="slide">
                <slot />
            </div>
            <Footer />
            <FloatingButtons />
        </main>

        <!-- flowbite scripts -->
        <!-- <script is:inline src="../path/to/flowbite/dist/flowbite.min.js"></script> -->
        <script
            is:inline
            src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"
        ></script>

        <script is:inline>
            // On page load or when changing themes, best to add inline in `head` to avoid FOUC
            if (
                localStorage.getItem("color-theme") === "dark" ||
                (!("color-theme" in localStorage) &&
                    window.matchMedia("(prefers-color-scheme: dark)").matches)
            ) {
                document.documentElement.classList.add("dark");
            } else {
                document.documentElement.classList.remove("dark");
            }
        </script>

        <!-- swiper bundle -->
        <!-- Add this script tag to your HTML -->
        <script is:inline src="https://unpkg.com/swiper/swiper-bundle.min.js"
        ></script>

        <!-- cliente supabase -->
        <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"
        ></script>
        <!-- or -->
        <script src="https://unpkg.com/@supabase/supabase-js@2"></script>    

    

    </body>
</html>
